body{
    background: -webkit-linear-gradient(top, rgb(107, 16, 139, 1) 0%,rgba(115,38,141,1) 34%,rgba(43,30,102,1) 98%);
    background-size: cover;
    height: 100vh;
}

.container{
    background: whitesmoke;
    border-radius: 5%;
    margin: 30% 8%;
    padding: 2rem 1rem;
}

select#country > option{
    padding-left: 0.5rem;
}