<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/sign-up.css">
</head>
<body>
   <!--Creando formlario para registro-->
   <div class="container black-text ">
        <div class="row">
            <div class="col s4"><a href="../index.html"><i class="medium material-icons center">chevron_left</i></a></div>
            <div class="col s8">
                <div class="row">
                    <p class="col s12">hola</p>
                    <small class="col s12">hola</small>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="input-field col s4">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="" data-icon="" class="left">example 1</option>
                    <option value="" data-icon="images/office.jpg" class="left">example 2</option>
                    <option value="" data-icon="images/yuna.jpg" class="left">example 3</option>
                </select>
                <label>Materialize Select</label>
            </div>
            <input id="phone" class="col s8" type="text">
        </div>
        <div class="row">
            <p class="col s12">texto</p>
        </div>
        <div class="row">
            <a class="col s4 offset-s4 waves-effect waves-light btn disabled">Next</a>
        </div>
    </div>

    
    

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="../js/form-sign.js"></script>
</body>
</html>